
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Data Extraction</title>
  <link rel="stylesheet" href="styles.css">
  
</head>
<body>
  <div class="wrapper">
    <form id="upload-form" action="/upload" method="post" enctype="multipart/form-data">
      <h2>DOCUMENT AUTHENTICATOR</h2>
        <div class="input-field">
            <input type="file" id="upload" name="file" accept=".jpg, .png, .pdf">
        <label>UPLOAD DOCUMENT</label>
      </div>
      <button type="submit" id="uploadButton">UPLOAD</button>
    </form>
    <div id="messageBox"></div>
    
    <div id="preprocessing-output"></div>
   
    </div>
    
</body>
</html>
